@media screen and (max-width: 1180px) {
  body header .darkbg #maintext h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 140px;
  }
  body header .darkbg #maintext h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
  }
  body header .darkbg #maintext #projb {
    margin: 0 auto;
    left: 0;
  }
  body header .darkbg nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main #projects #projlist .projsite {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 2%;
  }
}

@media screen and (max-width: 960px) {
  body main #projects #projlist {
    padding: 0px 0.8%;
  }
  body main #projects #projlist .projsite {
    padding: 1%;
  }
}

@media screen and (max-width: 865px) {
  body main #skills #skillstypes .type {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  body main #about #aboutcontain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #about #aboutcontain #image {
    margin-bottom: 2%;
  }
  body main #about #aboutcontain #image img {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  body header .darkbg #maintext h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 110px;
  }
  body header .darkbg nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 250px;
  }
  body header .darkbg nav a {
    border: 0;
    font-size: 1.3em;
  }
  body header .darkbg nav img {
    margin-left: 0;
    padding-top: 45px;
  }
  body header .darkbg nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-right: 0;
    margin-bottom: 25px;
  }
  body header .darkbg nav ul li {
    margin-bottom: 10px;
  }
  body main #projects #projlist {
    padding: 0.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #projects #projlist .projsite {
    padding: 2%;
  }
  body main footer {
    height: 790px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main footer #ftlinks {
    width: 84%;
    margin-bottom: 50px;
  }
  body main footer #ftform {
    width: 84%;
  }
}

@media screen and (max-width: 565px) {
  body header .darkbg #maintext h1 {
    font-size: 2.4em;
  }
  body header .darkbg #maintext h2 {
    font-size: 1.1em;
  }
  body header .darkbg #maintext #projb {
    top: 330px;
  }
  body main #projects #projlist {
    padding: 0;
  }
  body main #projects #projlist .projsite {
    padding: 18px 0px;
  }
  body main #projects #projlist .projsite img {
    border-radius: 0;
  }
  body main #skills #skillstypes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #skills #skillstypes .type {
    margin-top: 35px;
  }
  body main #about #aboutcontain #image img {
    width: 70%;
    margin-right: 35px;
  }
  body main footer #ftlinks {
    width: 94%;
  }
  body main footer #ftform {
    width: 94%;
  }
}
/*# sourceMappingURL=responsive.css.map */